body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #004A7F;
}

.header {
    background-color: #004A7F;
    color: #ffffff;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header a, .header span.campaign-name {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.header span.campaign-name {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

h1 {
    color: #004A7F;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], select, input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], .view-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover, .view-button:hover {
    background-color: #0056b3;
}
