{% extends "base.html" %}

{% block title %}Filter settings {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filter_result.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <h1>Query Results</h1>
    <div class="charts-container">
        <div class="chart-container">
            <canvas id="clicksChart"></canvas>
        </div>
        <script>
                // Предположим, что данные о кликах были переданы из Flask и теперь доступны как переменная JavaScript
                var clicksData = {{ clicks_data | tojson | safe }};

                // Обработка данных для использования в Chart.js
                var labels = clicksData.map(function(item) { return item.x; });
                var data = clicksData.map(function(item) { return item.y; });

                var ctx = document.getElementById('clicksChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,  // Массив дат из данных
                        datasets: [{
                            label: 'Clicks',
                            data: data,  // Массив данных о кликах из данных
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Number of Clicks'  // Подпись оси Y на английском
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Date'  // Подпись оси X на английском
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                boxWidth: 20,
                                padding: 20
                            }
                        },
                        tooltip: {
                            enabled: true,
                            callbacks: {
                                label: function(context) {
                                    return ` ${context.dataset.label}: ${context.parsed.y}`;  // Форматирование текста подсказки на английском
                                }
                            }
                        }
                    }
                }
            });
        </script>

        <div class="chart-container">
            <canvas id="osChart"></canvas>
        </div>
        <script>
        // Предполагаем, что os_data был передан из Flask и теперь доступен как переменная JavaScript
        const osData = {{ os_data | tojson }};
        const osChartCtx = document.getElementById('osChart').getContext('2d');
        const osChart = new Chart(osChartCtx, {
            type: 'bar',  // Тип графика - столбчатый
            data: {
                labels: osData.map(item => item.os),  // Названия ОС
                datasets: [{
                    label: 'OS',  // Подпись данных
                    data: osData.map(item => item.score),  // Данные о каждой ОС
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',  // Цвет заливки
                    borderColor: 'rgba(54, 162, 235, 1)',  // Цвет границы
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true  // Начать ось Y с нуля
                    }
                },
                indexAxis: 'y', // Горизонтальные столбцы
            }
        });
        </script>
    </div>
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Campaign Source</th>
                <th>Campaign Medium</th>
                <th>Campaign Name</th>
                <th>Campaign Content</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.url }}</td>
                <td>{{ result.campaign_source }}</td>
                <td>{{ result.campaign_medium }}</td>
                <td>{{ result.campaign_name }}</td>
                <td>{{ result.campaign_content }}</td>
                <td>{{ result.clicks }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">Total Clicks</th>
                <th>{{ total_clicks }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
