<!-- templates/header.html -->
<div class="header">
    <a href="{{ url_for('main.index') }}">Home</a>
    <a href="{{ url_for('main.add_campaign')}}">Add campaign</a>
    <a href="{{ url_for('main.edit_campaing_name_list')}}">Campaign name lists</a>
    <a href="{{ url_for('main.campaigns') }}">Campaigns Overview</a>
    <a href="{{ url_for('main.exclude_options') }}">Exclude Options</a>
    <a href="{{ url_for('main.manage_exclusions') }}">Manage Exclusions Options</a>
    <a href="{{ url_for('main.filter_setting')}}">Get filtered campaigns</a>
    <a href="{{ url_for('main.data_stamp')}}">Add date-stamp</a>
</div>
